.chat-list {
    height: 100%;
		padding:10px 40px;
		background-color: rgb(241, 241, 241);
}
.chat-header{
		padding: 10px 40px;
		border-bottom: 1px solid #ccc;
		box-shadow:  0 8px 8px 0px #ccc
}
.chat-wrapper {
	width: 40%;
	height: 100%;
	border: 1px solid #ccc;
}

.chat-item {
    border: 1px solid #ccc;
    width: 95%;
    margin: 1rem 0;
    border-radius: 10px;
		background-color: white;
		padding: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    flex-direction: column;
}

.single-chat-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    flex-direction: column;
}

.single-chat-item {
    border: 1px solid #ccc;
    width: 100%;
    margin: 1rem 0;
    border-radius: 3px;
    width: fit-content;
}

.single-chat-item-right {
    border: 1px solid #ccc;
    width: 100%;
    margin: 1rem 0;
    border-radius: 3px;
    width: fit-content;
}

.sent-chat-list {
  float: right !important;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}

/* .user-chat-wrapper{
	padding:5px 20px;
	background-color: rgb(241, 241, 241);
} */
